apiVersion: apps/v1
kind: Deployment
metadata:
  name: flux-electrique
  namespace: flux-app
  labels:
    app.kubernetes.io/name: flux-electrique
    app.kubernetes.io/part-of: flux-electrique-platform
spec:
  replicas: 2
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: flux-electrique
  template:
    metadata:
      labels:
        app.kubernetes.io/name: flux-electrique
        app.kubernetes.io/part-of: flux-electrique-platform
    spec:
      serviceAccountName: flux-electrique-runtime
      securityContext:
        runAsNonRoot: true
        fsGroup: 2000
      containers:
        - name: web
          image: europe-west1-docker.pkg.dev/PROJECT_ID/flux/flux-electrique:latest
          imagePullPolicy: IfNotPresent
          command: ["node", "server.js"]
          envFrom:
            - secretRef:
                name: flux-electrique-runtime
          ports:
            - name: http
              containerPort: 3000
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
      nodeSelector:
        kubernetes.io/os: linux
